/* GLOBAL STYLES */
* {
box-sizing: border-box;
}

body {
background-color: #AAA;
margin: 50px;
}

/* Each item in the grid contains numbers */

.item {

/* Center the contents of the grid items. Make each grid item a Flex Container */

display: flex;

/* Horizontal and Vertical centering */

justify-content: center;
align-items: center;
border: 5px solid black;
border-radius: 3px;
font-size: 2em;
font-family: sans-serif;
font-weight: bold;
}

/* CSS Grid Styles */

.container {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 150px);
grid-gap: 2rem;
}

.item1 {
position: static;
background-color: #f7cb2a;
grid-column: 1 / 3;
grid-row: 1 / 3;
z-index: 10;
}

.item2 {
background-color: #00407b;
grid-column: 2 / 4;
grid-row: 1 / 3;
z-index: 9;
}

.item3 {
background-color: #469c07;
grid-column: 1 / 3;
grid-row: 2 / 4;
z-index: 8;
}

.item4 {
background-color: #f25039;
grid-column: 2 / 4;
grid-row: 2 / 4;
}
