/* GLOBAL STYLES */

{
box-sizing: border-box;
}
body {
background-color: #AAA;
margin: 50px;
}

/* CSS Grid Styles */
.container {
display: grid;
height: 500px;
grid-template-columns: 2fr 1fr;
grid-template-rows: 1fr 1fr;
grid-gap: 30px;
}
/* Each item in the grid contains numbers */
.item {

/* Center the contents of the grid items. Making each grid item a Flex Container */
display: flex;

/* Horizontal and Vertical centering */
justify-content: center;
align-items: center;
border: 5px solid #87b5ff;
border-radius: 3px;
font-size: 2em;
font-family: sans-serif;
font-weight: bold;
background-color: #1c57b5;
}

