/* GLOBAL STYLES */
* {
box-sizing: border-box;
}

body {
background-color: #AAA;
margin: 50px;
}

/* Each item in the grid contains numbers */

.item {

/* Center the contents of the grid items. Making each grid item a Flex Container */

display: flex;

/* Horizontal and Vertical centering */

justify-content: center;
align-items: center;
border: 5px solid #87b5ff;
border-radius: 3px;
font-size: 2em;
font-family: sans-serif;
font-weight: bold;
background-color: #1c57b5
}

/* CSS Grid Styles */

.container {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-gap: 2rem;
}

.item1 {
grid-column: 1 / 2;
grid-row: 7 / 6;
}

.item2 {
grid-column: 2 / 3;
grid-row: 7 / 5
}

.item3 {
grid-column: 3 / 4;
grid-row: 7 / 4;
}

.item4 {
grid-column: 4 / 5;
grid-row: -1 / -5;
}